.container {
  width: 100%;
  padding: 24px;
  background-color: rgba(244, 67, 54, 0.1);
  border-radius: 4px;
  margin: 16px 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 